node_modules/
.nyc_output/
test/
coverage/
docs/
signatures/
.vscode/
.git
.github
.gitignore
.eslintignore 
.eslintrc
.eslintrc.html.json
.eslintrc.json
.idea
.eslintcache 
*.swp
CODE_OF_CONDUCT.md
CONTRIBUTING.md
CONTRIBUTORS.md
ROADMAP.md
mkdocs.yml
node-red-contrib-letsfiware-NGSI-individual-cla.pdf
