version: "3"

services:
  node-red:
    build: .
    image: letsfiware/node-red-local
    ports:
      - 1880:1880

  orion:
    image: fiware/orion:3.6.0
    ports:
      - 1026:1026
    depends_on:
      - mongo
    command: -dbhost mongo

  mongo:
    image: mongo:4.4
    command: --nojournal
